<template>
  <div v-if="planes" class="array-window">
    <vue-slider
      class="top-slider"
      :value="getZoom.x"
      @callback="setZoomX"
      :min="0"
      :max="w - size"
    ></vue-slider>

    <vue-slider
      class="left-slider"
      :value="getZoom.y"
      @callback="setZoomY"
      direction="vertical"
      width="6"
      height="100%"
      :reverse="true"
      :min="0"
      :max="h - size"
    ></vue-slider>

    <table class="main-table">
      <tr>
        <td></td>
        <td class="axis-label" v-for="i in sizes" :key="i">
          {{ getZoom.x + i }}
        </td>
      </tr>

      <tr v-for="j in sizes" :key="j">
        <td class="axis-label">{{ getZoom.y + j }}</td>
        <td
          v-for="i in sizes"
          :key="i"
          :style="getStyle(getZoom.x + i, getZoom.y + j)"
        >
          {{ getValue(getZoom.x + i, getZoom.y + j, plane) | niceNumber }}
        </td>
      </tr>
    </table>

    <div class="footer">
      <span v-for="p in range(z || 1)" :key="p">
        <input type="radio" :value="p" v-model="plane" />
        <label>Plane {{ p }}</label>
      </span>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapMutations } from "vuex";
import vueSlider from "vue-slider-component";
// import Debug from "debug";
// const debug = Debug("array-window");

export default {
  name: "ArrayWindow",
  components: { vueSlider },
  props: {
    planes: undefined,
    w: { type: Number, default: 100 },
    h: { type: Number, default: 100 },
    z: Number,
    scale: {
      type: Function,
      default: x => x
    }
  },
  data() {
    return {
      size: 10,
      plane: 0
    };
  },
  computed: {
    ...mapGetters("ArrayWindow", ["getZoom"]),

    sizes() {
      return Array(this.size)
        .fill(0)
        .map((v, i) => i);
    }
  },
  filters: {
    niceNumber(value) {
      if (!value) return;
      if (Number.isInteger(value)) return value;
      if (value < 0.01) return value.toExponential(2);
      return value.toFixed(2);
    }
  },
  methods: {
    ...mapMutations("ArrayWindow", ["setZoomX", "setZoomY"]),

    getValue(x, y, plane) {
      var value = this.planes[plane] ? this.planes[plane][y * this.w + x] : 0;
      return value;
    },

    getStyle(x, y) {
      var p0 = Math.trunc(this.scale(this.getValue(x, y, 0)));
      var p1 = this.z ? Math.trunc(this.scale(this.getValue(x, y, 1))) : p0;
      var p2 = this.z ? Math.trunc(this.scale(this.getValue(x, y, 2))) : p0;
      var color = (p0 + p1 + p2) / 3 < 128 ? "white" : "black";
      return {
        backgroundColor: `rgb(${p0}, ${p1}, ${p2})`,
        color
      };
    },

    range(size) {
      return Array(size)
        .fill(0)
        .map((v, i) => i);
    }
  }
};
</script>

<style lang="scss" scoped>
.array-window {
  margin: 1em;
  display: grid;
  grid-template-columns: 4em auto;
  grid-template-rows: 2em auto 2em;
  grid-template-areas:
    ". top-slider"
    "left-slider main"
    "footer footer";

  .top-slider {
    grid-area: top-slider;
    align-self: end;
  }

  .left-slider {
    grid-area: left-slider;
    justify-self: end;
  }

  .main-table {
    grid-area: main;
    height: 99%;
    width: 99%;

    td {
      user-select: none;
      width: 9%;
      height: 9%;
      // width: 4em;
      // height: 2em;
      font-size: 50%;
      text-align: start;
      vertical-align: bottom;
    }

    td.axis-label {
      background-color: rgba(0, 0, 0, 0.25);
      font-size: 75%;
    }
  }

  .footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
</style>
