<template>
  <table class="color-bands">
    <tr>
      <td class="band">Red</td>
      <td v-for="p in planes" :key="p">
        <input type="radio" :value="p" v-model="colors[0]" />
        <label>Plane {{ p }}</label>
      </td>
    </tr>
    <tr>
      <td class="band">Green</td>
      <td v-for="p in planes" :key="p">
        <input type="radio" :value="p" v-model="colors[1]" />
        <label>Plane {{ p }}</label>
      </td>
    </tr>
    <tr>
      <td class="band">Blue</td>
      <td v-for="p in planes" :key="p">
        <input type="radio" :value="p" v-model="colors[2]" />
        <label>Plane {{ p }}</label>
      </td>
    </tr>
  </table>
</template>

<script>
import { range } from "@/lib/array-utils";
// import Debug from "debug";
// const debug = Debug("color-bands");

export default {
  name: "ColorBands",
  props: ["colors", "fitsinfo"],
  computed: {
    planes() {
      return range(this.fitsinfo.NAXIS3 || 1);
    }
  }
};
</script>
