<template>
  <div class="fits-image">
    <array-window
      :planes="planes"
      :w="fitsinfo.NAXIS1"
      :h="fitsinfo.NAXIS2"
      :z="fitsinfo.NAXIS3"
      :scale="scale"
    ></array-window>

    <div class="image">
      <canvas
        ref="canvas"
        @mouseup="mouseUp"
        @mousedown="mouseDown"
        @mousemove="mouseMove"
      ></canvas>
      <div class="zoom-box" :style="zoomBox"></div>
    </div>

    <color-bands :colors.sync="colors" v-bind="{ fitsinfo }"></color-bands>

    <!-- <div class="histogram">
          <div>
            <trend v-if="histograms" :data="histograms[0]" :height="128" :width="450"></trend>
          </div>    
          <pre> {{ imageStats }}</pre>
    </div>-->

    <div class="header">
      <div>
        <div v-if="percentComplete">loading: {{ percentComplete }}%</div>
      </div>
      <div class="chunk-stats">
        <div>
          <div v-if="timers.load.elapsed">
            Tot: {{ timers.load.elapsed.toFixed(3) }}ms
          </div>
        </div>
        <div class="chunk-trend">
          <trend :data="timers.chunk" :height="50"></trend>
        </div>
      </div>
    </div>

    <pre>{{ fitsinfo }}</pre>
  </div>
</template>

<script>
// import { throttle } from "lodash";
import { mapGetters, mapMutations } from "vuex";
import Trend from "vuetrend";
import fits from "./fits";
import ArrayWindow from "./ArrayWindow";
import ColorBands from "./ColorBands";

import { drawFitsData } from "../lib/fits2image.js";

import Debug from "debug";
const debug = Debug("FitsImage");

export default {
  name: "FitsImage",
  components: {
    Trend,
    ArrayWindow,
    ColorBands
  },
  props: ["url"],

  data() {
    return {
      header: "",
      fitsinfo: {},
      percentComplete: undefined,
      timers: {
        chunk: [],
        load: {}
      },
      histograms: [[]],
      data: [],
      planes: [],
      scale: undefined,
      colors: [0, 0, 0],
      mouseMode: undefined
    };
  },
  computed: {
    ...mapGetters("ArrayWindow", ["getZoom"]),
    chunkStats() {
      return this.timers.chunk.reduce(
        (a, v) => {
          a.total++;
          a.sum += v;
          if (v > a.max) a.max = v;
          if (v < a.min) a.min = v;
          return a;
        },
        { total: 0, sum: 0, min: Number.MAX_VALUE, max: Number.MIN_VALUE }
      );
    },

    imageStats() {
      return this.histogram && this.arrayStats(this.histogram[0]);
    },

    xaxis() {
      return (this.fitsinfo && this.fitsinfo.NAXIS1
        ? Array(this.fitsinfo.NAXIS1)
        : []
      )
        .fill(0)
        .map((v, i) => i);
    },

    yaxis() {
      return (this.fitsinfo && this.fitsinfo.NAXIS2
        ? Array(this.fitsinfo.NAXIS2)
        : []
      )
        .fill(0)
        .map((v, i) => i);
    },

    zoomBox() {
      return {
        top: `${this.getZoom.y - this.fitsinfo.NAXIS2 - 9}px`,
        left: `${this.getZoom.x}px`
      };
    }
  },
  watch: {
    colors(c) {
      debug("watch.colors", c);
      if (this.data) this.drawImage();
    }
  },
  created() {
    debug("FitsImage.created");
  },
  mounted() {
    debug("FitsImage.mounted", this.url);
    if (this.url) this.load(this.url);
  },
  methods: {
    ...mapMutations("ArrayWindow", ["setZoom"]),

    mouseDown() {
      // debug("mouseDown", e);
      // this.mouseMode = this.dragZoomPip;
    },

    mouseUp(e) {
      // debug("mouseUp", e.layerX, e.layerY, e);
      // this.mouseMode = undefined;
      this.dragZoomPip(e);
    },

    mouseMove(e) {
      if (e.buttons === 1) {
        this.dragZoomPip(e);
      }
    },

    dragZoomPip(e) {
      // debug("dragZoomPip", e);
      this.setZoom({ x: e.layerX - 5, y: e.layerY - 5 });
    },

    logScale(data) {
      var max = data.reduce((a, v) => {
        return v > a ? v : a;
      }, Number.MIN_VALUE);
      var logMax = Math.log(max);
      return data.map(value => {
        return Math.trunc((Math.log(value + 1) / logMax) * 255); // eslint-disable-line
      });
    },

    arrayStats(data) {
      // https://derickbailey.com/2014/09/21/calculating-standard-deviation-with-array-map-and-array-reduce-in-javascript/
      var stats = this.arrayAvg(data);

      var squareDiff = data.map(value => Math.pow(value - stats.avg, 2));

      var avgSquareDiff = this.arrayAvg(squareDiff);

      return { ...stats, stddev: Math.sqrt(avgSquareDiff.avg) };
    },

    arrayAvg(data) {
      if (!data) return {};

      var stats = data.reduce(
        (a, v, i) => {
          a.sum += v;
          if (v > a.max) {
            a.max = v;
            a.imax = i;
          }
          if (v < a.min) {
            a.min = v;
            a.imin = i;
          }

          return a;
        },
        {
          sum: 0,
          min: Number.MAX_VALUE,
          imin: undefined,
          max: Number.MIN_VALUE,
          imax: undefined
        }
      );
      return { ...stats, avg: stats.sum / data.length, total: data.length };
    },

    async load(url) {
      this.header = [];
      this.timers.chunk = [];
      this.timers.load = {};

      const fetchurl = `${process.env.BASE_URL}${url}`;
      this.timers.load.start = performance.now();
      var fitsfile = await fits.open(fetchurl);

      var { fitsinfo, data } = await fits.parse(fitsfile, {
        progress: p => {
          this.percentComplete = p.percentComplete;
        },
        done: () => {
          this.percentComplete = undefined;
        }
      });
      this.timers.load.stop = performance.now();
      this.timers.load.elapsed = this.timers.load.stop - this.timers.load.start;
      debug("result", { fitsinfo, data });
      this.colors = fitsinfo.NAXIS > 2 ? [0, 1, 2] : [0, 0, 0]; // set default color bands
      this.data = data;
      this.fitsinfo = fitsinfo;
      this.planes = fits.rawToPlanes(fitsinfo, data);
      // this.raw = planes[0];
      this.histograms = this.planes.map((p, idx) => {
        return fits.getHistogram(this.planes[idx]);
      });
      debug("planes", {
        planes: this.planes,
        histograms: this.histograms
      });
      // if (fitsinfo.NAXIS > 1) ctx.putImageData(imageData, 0, 0);

      if (this.planes.length) {
        this.drawImage();
      }
    },

    drawImage() {
      var ctx = this.$refs.canvas.getContext("2d");
      this.$refs.canvas.width = this.fitsinfo.NAXIS1;
      this.$refs.canvas.height = this.fitsinfo.NAXIS2;

      this.scale = fits.linearScale(
        this.histograms[0][0].value,
        this.histograms[0][this.histograms[0].length - 1].value
      );
      debug("drawImage", this.fitsinfo, this.planes, this.scale, this.colors);
      drawFitsData(ctx, this.fitsinfo, this.planes, this.scale, this.colors);
    }
  }
};
</script>

<style lang="scss" scoped>
.fits-image {
  // flex: 0 1 30%;
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "array-window image"
    "colors fits-info";

  .array-window {
    // max-width: 40%;
    grid-area: array-window;
  }

  div.image {
    grid-area: image;

    overflow: auto;
    // max-width: 50%;
    // max-height: 50%;
  }

  canvas {
    border: 1px solid black;
    padding: 0;
    margin: 0;
  }

  .zoom-box {
    padding: 0;
    margin: 0;
    width: 10px;
    height: 10px;
    border: 1px solid red;
    position: relative;
    z-index: 1;
  }
}
</style>
