<template>
  <div id="app">
    <div class="file-list">
      <a @click="openFile({ url })">Reload</a>
      <div v-for="(file, index) in files" :key="index">
        <a
          @click="openFile(file)"
          :class="{ 'file-selected': url === file.url }"
          >{{ file.title }}</a
        >
      </div>
    </div>
    <fits-image ref="fits1" :url="url"></fits-image>
  </div>
</template>

<script>
import FitsImage from "./components/FitsImage.vue";

export default {
  name: "app",
  components: {
    FitsImage
  },
  data() {
    return {
      url: "Jupiter-ISO-400-Speed-400_stacked.fit",
      files: [
        {
          url: "Jupiter-ISO-400-Speed-400_stacked.fit",
          title: "Jupiter",
          description: "Jupiter ISO 800 Speed 400 stacked"
        },
        {
          url: "Jupiter_8-0.fits",
          title: "Jupiter 8-BP",
          description: "Jupiter test image"
        },
        {
          url: "Jupiter_8_64x64-1.fits",
          title: "Jupiter Small",
          description: "Jupiter test image"
        },
        {
          url: "Jupiter-ISO-800-Speed-400_stacked.fit",
          title: "Jupiter 2",
          description: "Jupiter ISO 800 Speed 400 stacked"
        },
        {
          url: "HST_WFPC_II.fits",
          title: "HST WFPC II",
          description:
            "WFPC II 800 x 800 x 4 primary array data cube containing the 4 CCD images, plus a table extension containing world coordinate parameters. This sample file has been trimmed to 200 x 200 x 4 pixels to save disk space."
        },
        {
          url: "HST_WFPC_II_2.fits",
          title: "HST WFPC II 2",
          description:
            "WFPC II 1600 x 1600 primary array mosaic constructed from the 4 individual CCD chips. (Image has been trimmed to 100 x 100 pixels to save disk space)."
        },
        {
          url: "HST_FOC.fits",
          title: "HST FOC",
          description:
            "FOC (1024 x 1024) primary array image, plus a table extension containing world coordinate parameters."
        },
        {
          url: "HST_FOS.fits",
          title: "HST FOS",
          description:
            "FOS 2 x 2064 primary array spectrum containing the flux and wavelength arrays, plus a small table extension."
        },
        {
          url: "HST_HRS.fits",
          title: "HST HRS",
          description:
            "HRS 2000 x 4 primary array spectrum, plus a small table extension."
        },
        {
          url: "HST_NICMOS.fits",
          title: "HST NICMOS",
          description:
            "NICMOS null primary array plus 5 image extensions (270 x 263) containing the science, error, data quality, samples, and time images"
        },
        {
          url: "HST_FGS.fits",
          title: "HST FGS",
          description:
            "FGS file with a 89688 x 7 2-dimensional primary array and 1 table extension. The primary array contains a time series of 7 astrometric quantities."
        },
        {
          url: "Astro_UIT.fits",
          title: "Astro UIT",
          description:
            "Astro1 Ultraviolet Imaging Telescope (512 x 512) primary array image"
        },
        {
          url: "IUE_LWP.fits",
          title: "IUE LWP",
          description:
            "IUE spectrum contained in vector columns of a binary table."
        },
        {
          url: "EUVE.fits",
          title: "EUVE",
          description:
            "EUVE sky image and 2D spectra, contained in multiple image extensions, with associated binary table extensions. The 1st image extension has been rebinned by a factor of 4 to save disk space."
        },
        {
          url: "Random_Groups.fits",
          title: "Random Groups",
          description:
            "This example file illustrates the Random Groups FITS file format which has the keywords NAXIS1 = 0 and GROUPS = T. This format has been used almost exclusively for applications in radio interferometry and should not be used for applications outside of this field. It is recommended that new applications should use FITS binary tables to store this type of data. This example file comes from the Classic AIPS 'DDT' (Dirty Dozen Test) benchmarking suite."
        }
      ]
    };
  },
  created() {
    console.log("history", history.state, window.location.search);
    if (window.location.search) {
      var query = window.location.search
        .slice(1)
        .split("&")
        .reduce((a, v) => {
          var [key, value] = v.split("=");
          a[key] = value;
          return a;
        }, {});
      console.log("query", query);
      if (query.url) this.url = query.url;
    }
  },
  mounted() {
    // if (this.url) this.$refs.fits1.load(this.url);
  },
  methods: {
    openFile(file) {
      console.log("App.openFile", file);
      this.url = file.url;
      window.history.pushState({ url: this.url }, "", `?url=${this.url}`);
      this.$refs.fits1.load(this.url);
      // console.log("history", history.state);
    }
  }
};
</script>

<style lang="scss">
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 3em auto;
  grid-template-areas:
    "header"
    "main";

  color: #2c3e50;
  // outline: 2px solid green;
  // outline-offset: -1px;

  .file-list {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    min-height: 1.5em;
    a {
      cursor: pointer;
    }

    a:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    a.file-selected {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .fits-image {
    grid-area: main;
  }
}
</style>
